<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layoutadmin :: site-head">
<title>Koperasi Mandiri | Admin </title>
</head>
<body>
<header th:replace="layoutadmin :: site-header" >
</header>
	  <div id="pinjaman">
	    <h3>Pinjaman</h3>
	    <div class="panel panel-default">
	    	<div class="panel-heading">Daftar Pinjaman</div>
	    	<div class="panel-body">
			    <table class="table .table-striped">
			    	<tr>
			    		<th>Id Anggota</th>
			    		<th>Nama Anggota</th>
			    		<th>Jumlah Pinjaman</th>
			    		<th>Tanggal Pinjaman</th>
			    		<th>Waktu</th>
			    		<th>Angsuran Pokok</th>
			    		<th>Status</th>
			    		<th>Keterangan</th>
			    		<th>Angsuran Total</th>
			    		<th>Pilihan</th>
			    	</tr>
			    	<tr th:each="pinjaman : ${allpinjaman}">
			    		<td th:text="${pinjaman.idAnggota}"></td>
			    		<td th:text="${pinjaman.namaAnggota}"></td>
			    		<td th:text="${pinjaman.jumlahPinjaman}"></td>
			    		<td th:text="${pinjaman.tanggalPinjam}"></td>
			    		<td th:text="${pinjaman.waktu}"></td>
			    		<td th:text="${pinjaman.angsuranPokok}"></td>
			    		<td th:text="${pinjaman.status}"></td>
			    		<td th:text="${pinjaman.ket}"></td>
			    		<td th:text="${pinjaman.angsuranTotal}"></td>
			    		<td>
			    			<a th:href="@{'/admin/pinjaman/' + ${pinjaman.id}}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
			    			<a th:href="@{'/admin/pinjaman/edit/' + ${pinjaman.id}}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
			    			<a th:href="@{'/admin/pinjaman/delete/'+ ${pinjaman.id}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
			    		</td>
			    	</tr>
			    </table>
			</div>
		</div>
	  </div>
<footer th:replace="layoutadmin :: site-footer" ></footer>
</body>
</html>