<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layoutadmin :: site-head">
<title>Koperasi Mandiri | Admin</title>
</head>
<body>
<header th:replace="layoutadmin :: site-header" >
</header>
	<div class="jumbotron">
	  <h1>Petugas</h1>
	  <p>Koperasi Mandiri</p>
	</div>
	  <div id="simpanan" class="tab-pane fade">
	    <h3>Simpanan</h3>
	    <p>Daftar Simpanan</p>
	    <table class="table .table-striped">
	    	<tr>
	    		<th>No</th>
	    		<th>ID Anggota</th>
	    		<th>ID Ktp</th>
	    		<th>Nama Anggota</th>
	    		<th>JK</th>
	    		<th>Kota</th>
	    		<th>Telepon</th>
	    		<th>Aksi</th>
	    	</tr>
	    	<tr>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    	</tr>
	    </table>
	  </div>

<footer th:replace="layoutadmin :: site-footer" ></footer>
</body>
</html>