<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layoutadmin :: site-head">
<title>Koperasi Mandiri | Admin</title>
</head>
<body>
<header th:replace="layoutadmin :: site-header" >
</header>
	<h3>Detail Anggota</h3>
	    <div>
	    	<form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Id Simpanan:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${simpanan.id}">Id Simpanan</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Id Anggota :</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${simpanan.idAnggota}">Id Anggota</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nama Anggota :</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${simpanan.namaAnggota}">Nama Anggota</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tanggal Simpanan :</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${anggota.tglSimpanan}">Tanggal Simpanan</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tipe Simpanan :</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${anggota.tipeSimpanan}">Tipe Simpanan</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Simpanan :</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${anggota.simpanan}">Simpanan</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Keterangan :</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${anggota.ket}">Keterangan</p>
                    </div>
                </div>
            </form>
	    </div>

<footer th:replace="layoutadmin :: site-footer" ></footer>
</body>
</html>