<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layoutuser :: site-head">
<script src="/public/js/jquery.min.js"></script>
<title>Koperasi Mandiri | Admin</title>
</head>
<body>
<header th:replace="layoutuser :: site-header" ></header>
	<div class="container">
		<h1>Pinjaman</h1>
		<div class="panel panel-default">
	    	<div class="panel-heading">Ajukan</div>
	    	<div class="panel-body">
	<form th:action="@{/user/savePinjaman}" method="POST" class="form-horizontal">
		<label>Tanggal Pinjaman</label><br></br> <input type="text"
			readonly="readonly" th:value="${tanggal}" name="tanggalPinjaman"></input><br></br> 
			<label>ID Anggota</label><br></br> 
			<input type="text" name="idAnggota" value="1" readonly="readonly"></input><br></br>
			<label>Jumlah</label><br></br> 
			<input type="text" id="jumlah" name="jumlahPinjaman"></input><br></br>
			<label>Durasi</label><br></br> 
			<select id="durasi" name="waktu"><br></br>
				<option>3</option>
				<option>6</option>
				<option>12</option>
		</select><br></br> 
		<label>Angsuran Bulanan</label><br></br> 
		<input type="text" name="angsuranPokok" id="angsuran"></input><br></br>
		<label>Ket</label><br></br>
		<textarea rows="4" cols="" name="ket"></textarea><br></br>
		<input type="submit" value="Simpan"></input>
	</form>
	</div>
	</div>
	</div>
<footer th:replace="layoutuser :: site-footer" ></footer>
</body>
<script type="text/javascript">
$("#jumlah").keyup(function(){
    update();
});

$("#durasi").on('change', function(){
    update();
});



function update() {
	var n = $('#durasi').val();
	if(n == 3){
			$("#angsuran").val((($('#jumlah').val() * 0.01) + ($('#jumlah').val() / n)).toFixed(0))
		} else if(n == 6){
			$("#angsuran").val((($('#jumlah').val() * 0.015) + ($('#jumlah').val() / n)).toFixed(0))
			} else {
				$("#angsuran").val((($('#jumlah').val() * 0.02) + ($('#jumlah').val() / n)).toFixed(0))
				}
}
</script>

</html>