<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layoutuser :: site-head">
<title>Koperasi Mandiri | User</title>
</head>
<body>
<header th:replace="layoutuser :: site-header" >
</header>
	<div class="jumbotron">
	  <h1>User</h1>
	  <p>Koperasi Mandiri</p>
	  <h2>Welcome  <span class="label label-default" th:text="${loggedin}"></span></h2>
	  <div class="container">
			<div class="panel panel-default">
		    <div class="panel-heading">
		    	<label>Pengumuman</label>
		    		<form class="navbar-form navbar-right">
					  <input type="text" class="form-control" placeholder="Pencarian"/>
					  <button type="submit" class="btn btn-default">Cari</button>
					</form>
		    </div>
		    <div class="panel-body">
				<ul>
					<li th:each="pengumuman : ${allpengumuman}">
						<a th:href="@{'/admin/pengumuman/' + ${pengumuman.id}}" th:text="${pengumuman.title}"></a>
					</li>
				</ul>
			</div>
			</div>
		</div>
	</div>
<footer th:replace="layoutuser :: site-footer" ></footer>
</body>
</html>