<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
<title>Welcome to Spring Ticket</title>
</head>
<body>
<header th:replace="layout :: site-header" >
</header>
	<div class="jumbotron">
	  <h1>Welcome User</h1>
	  <p>Sistem Infromasi Rumah Sakit</p>
	</div>
	<div class="col-4">
			<table class="table">
				<tr>
					<th>Room Number</th>
					<th>category</th>
				</tr>
				<tr th:each="room : ${allroom}">
					<td th:text="${room.roomNumber}"></td>
					<td th:text="${room.idCategory}"></td>
				</tr>
			</table>
		</div>
<footer th:replace="layout :: site-footer" />
</body>
</html>