<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
<meta charset="UTF-8" />
<link rel="stylesheet" href="../public/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
<script src="../public/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../public/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../public/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<meta th:include="this::head" th:remove="tag"/>
</head>
<body>
<header th:fragment="site-header">
</header>
<div class="jumbotron">
  <h1>Welcome</h1>
  <p>Koperasi Mandiri</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<footer th:fragment="site-footer">
&copy; PABWE,2017
</footer>
</body>
</html>
